$header-background: #fff;
$hover-color: rgb(105, 166, 248);
$header-size: .9em;
$color: #444;

header {
    background-color: $header-background;
    div.ww {
        display: flex;
        padding: 15px 0;
        div.logo {
            display: flex;
            flex: 1;
            justify-content: flex-start;
            font-size: 1.2em;
            color: #333;
            cursor: pointer;
        }
        ul.list-item {
            width: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                position: relative;
                // div.video {
                //     opacity: 0;
                //     transition: all .5s;
                //     position: absolute;
                // }
                // &:hover div.video{
                //     display: flex;
                //     position: absolute;
                //     width: 120px;
                //     height: 40px;
                //     justify-content: center;
                //     align-items: center;
                //     background-color: red;
                //     left: -30px;
                //     top: 30px;
                //     border-radius: 5px;
                //     opacity: 1;
                // }
                &:hover i {
                    color: $hover-color;
                }
                a {
                    flex: 1;
                    color: $color;
                    font-size: $header-size;
                    font-weight: 600;
                    &:hover {
                        color: $hover-color;
                    }
                }
            }
        }
    }
}